@import "~bootstrap/scss/bootstrap.scss";

.visible-or-not-button {
    visibility: hidden;
}
.list-element:hover{
    .visible-or-not-button{
    visibility: visible;
    }
}
body{
    display: flex;
    justify-content: center;
}