@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body{
display: flex;
justify-content: center;
background-image: url("https://images.pexels.com/photos/4226805/pexels-photo-4226805.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
background-size: cover;
background-position: center;
width: 100vw;
height: 100vh;
font-family: 'Gochi Hand', cursive;
}
.to-do-list {
    margin-top: 11rem;
    width: 50vw;
    border-radius: 3px;
    background-color: #eeeff328;
    header {
        text-align: center;
        h1{
            margin: 2vh 0;
            font-size: 5vw;
            color: rgba(22, 22, 22, 0.979);
        }
        .list-word{
            font-size: 7vw; 
        }
    }
}
section {
    text-align: center;
    input {
        width: 30vw;
        padding: 0.5vh 1vw;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.98);
        background-color: #eeeff359;
    }
    input:focus {
        outline: none;
        border: none;
    }
    ul {
        margin-top: 1rem;
        text-align: left;
        list-style-type: none;
        li {
            display: flex;
            justify-content: space-between;
            padding: 1vh 2vw 0.2vh 2vw;
            margin-right: 3vw;
            margin-bottom: 1vh;
            border-radius: 3px;
            button {
                display:inline-block;
                padding:3px 8px;
                margin-bottom: 2.5px;
                text-decoration:none;
                background-color: rgba(255, 255, 255, 0);
                border: none;
            }
            button:active {
                position:relative;
                top:1px;
            }
             button:focus {
                outline: none;
            }
        }
    }
}
.visible-or-not-button {
    visibility: hidden;
}
.list-element:hover{
    background-color: #e4d8c88a;
    .visible-or-not-button{
    visibility: visible;
    }
}
footer{
    p {
        margin-top: 1px;
        text-align: right;
    }
}
.crossedText {
    text-decoration: line-through;
}

